[[template "header.html" .]]
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&libraries=places&language=en-US"></script>
<style>
.item, .placeholder {
    padding: 2px;
    width: 50px;
    height: 20px;
    border: 1px solid #333;
    background: #EEE;
}
.placeholder {
    background: #AEF;
}

</style>

 <div data-ng-app="smacktalk-get" >
  <div data-ng-controller="EventCtrl" ng-cloak >

	<div  data-ng-show="showPage1" class='container-fluid' data-ng-controller="PlayerListCtrl">
	   	<h4>Players</h4>
	    <input type="text" ng-model="currentplayerlist" placeholder="Players involved" 
			typeahead="player as player.selectName for player in updateList($viewValue)" 
			typeahead-loading="loadingPlayers" 
		 	typeahead-on-select='onSelect($item, $model, $label); currentplayerlist =""; '
		>
	    <i ng-show="loadingPlayers" class="glyphicon glyphicon-refresh"></i>
		
		<ul id="currentplayerlist"> 
			<li> Number of Players: {{numplayers}}</li>
			<li data-ng-repeat="currentplayer in activelist">
				<a data-ng-click="removeItem(currentplayer.UUID)">{{currentplayer.Firstname}} {{currentplayer.Surname}}</a>
			</li>
		</ul>
		<hr>
	</div>



 

	<div data-ng-show="showPage1" class='container-fluid' data-ng-controller="GameListCtrl">
	   	<h4>Games</h4>
	    <input type="text" ng-model="currentgamelist" placeholder="Game to be played" 
			typeahead="game as game.selectName for game in updateList($viewValue)" 
			typeahead-loading="loadingGames" 
		 	typeahead-on-select='onSelect($item, $model, $label); currentgamelist =""; '
		>
	    <i ng-show="loadingGames" class="glyphicon glyphicon-refresh"></i>
	
		<ul id="currentgamelist"> 
			<li data-ng-repeat="currentgame in activelist">
				<a data-ng-click="removeItem(currentgame.UUID)">{{currentgame.Name }} {{currentgame.Published }}</a>
			</li>
		</ul>
	<hr>
	</div>



	<div data-ng-show="showPage1" class='container-fluid' data-ng-controller="LocationListCtrl">
	   	<h4>Location</h4>
		
   	 	<div><input  ng-model="chosenPlace" googleplace/></div>
		<div>selection is: {{chosenPlace}}</div>


	<hr>
	</div>

    <div>
       <input data-ng-show="showPage1" type="button" value="Start Event!" data-ng-click="startEvent()" >
	</div>
	
	
	<!-- event timer page -->
	<div data-ng-show="showPage2" data-ng-controller="EventTimerCtrl" >
		<h4>{{eventname}}</h4>
	 	
		<table>
			<!-- 
			 <tr data-ng-repeat="x in playerlist">
	    		<td>{{ x.Firstname }} {{ x.Surname }}</td>
	  		</tr> 		
			-->
			<tr><td>Games:</td></tr>
	  		<tr data-ng-repeat="x in gamelist">
	    		<td>{{ x.Name }} {{ x.Published }}</td>
	  		</tr>
			<tr><td>At</td></tr>
			<tr data-ng-repeat="x in locationlist">
	    		<td>{{ x.Locationname }}</td>
	  		</tr>
			
		</table> 
		
		

		
		
		<hr>

		start: {{starttime.toString()}}
		<br/>
		{{currenttime}}
	
		<hr>

    
   		<div class="container-fluid">
	  		<div class="row">    
	    		<table 	class="table table-bordered table-condensed"   
		       			as-sortable="sortableOptions"  ng-model="playerlist">
		     
			<thead>
				<tr >
	   				<th>Player</th>
	   				<th>Place</th>
					<th>Results</th>
	 			</tr>
			</thead>
			<tbody>
	        	<tr    ng-repeat="player in playerlist" as-sortable-item class="as-sortable-item">
	            	<td as-sortable-item-handle class="as-sortable-item-handle" >
	                       <span data-ng-bind="player.selectName"></span>
	           		</td>
					<td >
						
		 				<select ng-init="chosenresult = SetInitResult($index)" ng-change="updatePlayerResult(chosenresult,$index)" 
						        ng-options="result for result in possibleresults" ng-model="chosenresult"></select>
					</td>
					<td >
					<!--
					    <select ng-model="chosenplace">
							<option ng-init="chosenplace = ($index+1).toString()"  ng-repeat="obj in playerlist" value="{{obj.playedin.Place}}">
      						{{obj.playedin.Place}}
    						</option>
						</select>
						-->
						
					
						<select  ng-init="chosenplace = ($index+1).toString()" ng-change="updatePlayerPlace(chosenplace,$index)"    
								 ng-options="place for place in possibleplaces" ng-model="chosenplace">
						
						</select>
						
					</td>
	        	</tr>
			</tbody>
	    		</table>
	        </div>
		</div>
	<hr>



<div>
       		<input  type="button" value="Cancel Event" data-ng-click="cancelEvent()" >
		</div><div>
       		<input  type="button" value="Commit Event" data-ng-click="commitEvent(eventUUID)" >
		</div>

	</div>
	
</div> <!-- end of all object -->

<Script>

var app = angular.module( 'smacktalk-get' ,  ['ui.bootstrap', 'ui.sortable'] );

app.directive('googleplace' , ['Lists',  function(Lists) {
    return {
        require: 'ngModel',
        link: function(scope, element, attrs, model) {
            var options = {
                types: []
            };
            scope.gPlace = new google.maps.places.Autocomplete(element[0], options);

            google.maps.event.addListener(scope.gPlace, 'place_changed', function() {
                scope.$apply(function() {
					var place = scope.gPlace.getPlace();
					var listObj = {
						Locationname: element.val(),
						Locationlng: place.geometry.location.lng().toString(),
						Locationlat: place.geometry.location.lat().toString(),
					};
					
					Lists.addList(listObj, "locationList" );
					console.log("WORK?" + JSON.stringify(Lists.getList("locationList")  ) ) ;
                    model.$setViewValue(element.val());                
                });
            });
        }
    };
}]);

app.factory('myHttpFactory', ['$http' ,'$filter',function($http, $filter) {
   return {
    	getPlayersAutoComplete: function(item) {
       //since $http.get returns a promise,
       //and promise.then() also returns a promise
       //that resolves to whatever value is returned in it's 
       //callback argument, we can return that.

       		return $http.get([[url "Players.ListAutoComplete"]].replace("<nil>", item)).then(function(result) {
		
           return result.data;
       	});
     } , 
	 	getGamesAutoComplete: function(item) {
       return $http.get([[url "Games.ListAutoComplete"]].replace("<nil>", item)).then(function(gameresult) {
           return gameresult.data;
       });
     } ,
	  	getEvent: function(item) {
       return $http.get([[url "Events.Status"]].replace("<nil>", item)).then(function(result) {
           return result.data;
       });
     } ,
	
		httpstartEvent: function(eventcargo) {
			console.log("eventcargo:" + JSON.stringify(eventcargo));
			return $http({method: 'POST', 
					url: '/events/start',  
					data:$filter('json')(eventcargo) 
					}).then(function(data, status, headers, config) {
					 return data;
			});
	   } ,
		httpcommitEvent: function(eventcargo) {
				
			return $http({method: 'POST', 
					url: '/events/commit',  
					data:$filter('json')(eventcargo) 
					}).then(function(data, status, headers, config) {
					 return data;
			});
	   }
	}
}]);


app.factory('Lists', function () {
    var userName = "John Doe";

    // Shared Models
	var locationList = [];
	var playerList = [];
	var gameList = [];
	
	
    return {
        getUserName: function () {
             return userName;                   
        },
		setPlayerResult: function (index, result) {
			playerList[index].playedin["Result"] = result;
            return true;                   
        },
		setPlayerPlace: function (index, place) {
			playerList[index].playedin["Place"] = place;
            return true;                   
        },
		
		//
		//TODO for playerlist only right now
		orderList: function(listType){
			
			for (var i = 0; i < playerList.length; i++) {
			
				if (i == 0) {
					//playerList[i].playedin["Result"] = "WIN";
				}
				playerList[i].playedin["Place"] = (i+1).toString();
				   
			}
			
		},
		getList: function (listType) {
			switch (listType) {
			  case "gameList":

			    return gameList;
			    break;
			  case "playerList":

			    return playerList;
			    break;
			  case "locationList":

			    return locationList;
			    break;
			  default:
			   
			}                  
        },
		addList: function(listObj, listType) {
			switch (listType) {
			  case "gameList":
				
				var objalreadypresent  = false;
				for (var i = 0; i < gameList.length; i++) {
				    if (gameList[i].UUID == listObj.UUID ) {
						objalreadypresent = true;
					}
				    //Do something
				}
			   	if (objalreadypresent == false) {
			   		gameList.push(listObj);
				}
			   
				
			    break;
			  case "playerList":
				var objalreadypresent  = false;
				for (var i = 0; i < playerList.length; i++) {
				    if (playerList[i].UUID == listObj.UUID ) {
						objalreadypresent = true;
					
					}
				   
				}
			   	if (objalreadypresent == false) {
					
					listObj["playedin"] = {
						Result:"", 
						Place:""};
			   		playerList.push(listObj);
				}
			   
				this.orderList("playerList");
			    break;
				
			  case "locationList":
		console.log("listobj" + JSON.stringify(listObj));
				var objalreadypresent  = false;
				for (var i = 0; i < locationList.length; i++) {
				    if (locationList[i].UUID == listObj.UUID ) {
						objalreadypresent = true;
					}
				    //Do something
				}
			   	if (objalreadypresent == false) {
			   		locationList.push(listObj);
				}
			
				
			   
				
			    break;
			  default:
			    console.log("Sorry, we are out of " + expr + ".");
			}   
			
		},
		removeList: function(uuid, listType) {
			switch (listType) {
 			case "locationList":

				locationList = [];

			   
			    break;
				
 			case "gameList":

				for (var i = 0; i < gameList.length; i++) {
				    if (gameList[i].UUID == uuid ) {
						gameList.splice(i,1);
						break;
					}
				    //Do something
				}

			   
			    break;
			  case "playerList":

				for (var i = 0; i < playerList.length; i++) {
				    if (playerList[i].UUID == uuid ) {
						playerList.splice(i,1);
						break;
					}
				    //Do something
				}

			   
			    break;
			  default:
			    console.log("Sorry, we are out of " + expr + ".");
			}   
			
		}

    }
	    

});




app.controller( 'GameListCtrl' , ['$scope', '$http', 'Lists', 'myHttpFactory', function( $scope , $http, Lists, myHttpFactory) {

 	$scope.activelist = [];

	$scope.updateList = function(item) {

		 return myHttpFactory.getGamesAutoComplete(item).then(function(data) {
			for (x in data) {
    			//console.log("HERE" +  JSON.stringify(data[x]) + x) ;
				data[x]["selectName"] = data[x]["Name"] + " (" + data[x]["Published"] + ")";
			}
			//console.log("DATA" + JSON.stringify(data));
		    //return [{"Name":"Carcassonne","Published":"2000","UUID":"e3ed6302-f868-437f-b754-6646061c1363"},{"Name":"Caesar & Cleopatra","Published":"1997","UUID":"77b3f5f2-d710-469b-b4c8-cefa5b2974ff"}];
			return data;
		 });	
  	};

	$scope.onSelect = function ($item, $model, $label) {
		Lists.addList($model , "gameList");
		$scope.activelist = Lists.getList("gameList");
		//console.log("LIST: " + JSON.stringify(Lists.getList("gameList")));
	};

  	$scope.removeItem = function( uuid ) { 
		//console.log("removeItem" + uuid);
		Lists.removeList(uuid , "gameList");
		$scope.activelist = Lists.getList("gameList");

 	}
	
	$scope.$on('HideDIVEventFromEventCtrl',function(event, data){
          $scope.hideDIV = data;
    });

}]);

app.controller( 'PlayerListCtrl' , ['$scope', '$http', 'Lists', 'myHttpFactory', function( $scope , $http, Lists, myHttpFactory) {

  	$scope.activelist = [];
	$scope.numplayers = 0;
	
	//event to hide div
	$scope.$on('HideDIVEventFromEventCtrl',function(event, data){
          $scope.hideDIV = data;
    });
	
	$scope.onSelect = function ($item, $model, $label) {
		Lists.addList($model , "playerList");
		$scope.activelist = Lists.getList("playerList");
		//console.log("LIST: " + JSON.stringify(Lists.getList("playerList")));
		$scope.numplayers = $scope.activelist .length;
	};
	
	$scope.updateList =  function( item ) { 
	
	   return myHttpFactory.getPlayersAutoComplete(item).then(function(data) {

 			for (x in data) {
    			console.log("HERE" +  JSON.stringify(data[x]) + x) ;
				//TODO add nickname
				data[x]["selectName"] = data[x]["Firstname"] + " " + data[x]["Surname"];
			}
			//console.log("DATA" + JSON.stringify(data));
		    return data;
		 });	
  	};
	
  	$scope.removeItem = function( uuid ) { 
		//console.log("removeItem" + uuid);
		Lists.removeList(uuid , "playerList");
		$scope.activelist = Lists.getList("playerList");
		$scope.numplayers = $scope.activelist.length;
	
		
 	}


}]);



app.controller( 'LocationListCtrl' , ['$scope', 'Lists', function( $scope , Lists) {

 	$scope.permlist = [];
 	$scope.activelist = {};
	$scope.index = 0;
	

    $scope.gPlace;
	
	
	$scope.$on('HideDIVEventFromEventCtrl',function(event, data){	
          $scope.hideDIV = data;
    });
	
	$scope.updateLocationList = function () {
		console.log("updateLocationList: ");
	};

	$scope.updateList =  function( item ) { 
		console.log("LIST: " + JSON.stringify(Lists.getList("locationList")));
		return $scope.permlist;
	};

  	$scope.removeItem = function( location ) { 
		Lists.removeList(location , "locationList");
		$scope.activelist = Lists.getList("locationList");
 	};

//lists.set =  $scope.activelist;

}]);



app.controller( 'EventTimerCtrl' , ['$scope', 'Lists', 'myHttpFactory', '$interval', function( $scope , Lists , myHttpFactory, $interval) {
	
	
	$scope.eventname = "FISH";
	$scope.starttime  = "000";
	$scope.eventUUID = "";
	
	//TODO make this a http get to get the servers definitions
	$scope.possibleresults = [ "DEMOLISH", "WIN" , "TIE", "LOSE", "QUIT", "RAGE QUIT" ];
	$scope.possibleplaces = [ "1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20" ];

	$scope.gamelist = Lists.getList("gameList");
	$scope.playerlist = Lists.getList("playerList");
	$scope.locationlist = Lists.getList("locationList");
	
	$scope.updatePlayerResult = function(item,index) {
		console.log("resultchange" + item + " " + index);
		Lists.setPlayerResult(index, item);
		//Lists.updateList("playerList");
	};
	
	$scope.updatePlayerPlace = function(item,index) {
		console.log("placechange" + item + " " + index + "SCOPE" + $scope.chosenplace);
		Lists.setPlayerPlace(index, item);
		//Lists.updateList("playerList");
	};
	
	$scope.SetInitResult = function(index) {
		console.log("choiceresult" + $scope.chosenresult+ index);
		if (index < 1) {
			Lists.setPlayerResult(index, "WIN");
			return "WIN";
		}
		Lists.setPlayerResult(index, "LOSE");
		return "LOSE";
	};
	
	$scope.SetInitPlace = function(index) {
		
		//$scope.chosenplace = (index+1).toString();
		$scope.chosenplace =  $scope.playerlist[index].playedin["Place"];
		console.log("chosenplace" + $scope.choseplace+ index+ ":" +  $scope.playerlist[index].playedin["Place"]);
		//TODO why is this not working?
		//console.log((index+1).toString());
		
	};

  $scope.updatePlaces = function(){
	console.log("UPDATEPLACE");
		Lists.orderList("playerList");
		console.log("choseplace" + $scope.chosenplace );
	
			templist = Lists.getList("playerList");
		for (var i = 0; i < templist.length; i++) {
			$scope.chosenplace[i] = templist[i];
			console.log("choseplace" + $scope.chosenplace[i] );
			console.log("templist" +  templist[i]);
				   
		}
	
	};
	
  $scope.sortableOptions = {
	
	accept: function (sourceItemHandleScope, destSortableScope) {
		console.log("Accept");
		return true},
    itemMoved: function (event) {
		console.log("itemMoved");
		
			
	},
    orderChanged: function(event) {
	
		console.log("orderchanged" + event.dest.index);
		console.log("orderchanged" + event.source.index);
		console.log("orderchanged scope?" +event.source.itemScope.chosenplace);
		//console.log("orderchanged dest scope?" + JSON.stringify(event.source, null, 4)) ;
		
		
		event.source.itemScope.chosenplace = (event.dest.index+1).toString();
		Lists.orderList("playerList");
		//if ( event.dest.index == 0) {
		//	 $scope.chosenresult = Updater.updateResult("FISH");
		//} else {
		//	$scope.chosenresult = "LOSE";
		//}
		//$scope.chosenplace = (event.dest.index+1).toString();
	
		
	},
	
    containment: '#sortable-container'
  };

	$interval(function(){
	
        seconds = Math.floor((new Date() - ($scope.starttime))/1000);
        minutes = Math.floor(seconds/60);
        hours = Math.floor(minutes/60);
        days = Math.floor(hours/24);
        
        hours = hours;
        minutes = minutes-(hours*60);
        seconds = seconds-(hours*60*60)-(minutes*60);
		
		$scope.currenttime = "Game running time: " + hours + ":" + minutes + ":" + seconds;
		
	},1000);

	

	$scope.$on('ShowPage2EventFromEventCtrl',function(event,  UUID){
			
			$scope.eventUUID = UUID;
			myHttpFactory.getEvent(UUID).then(function(data) {
				
				$scope.locationlist = Lists.getList("locationList");
				$scope.eventname = data.Eventname;
				$scope.starttime = new Date(data.Start);
				

			
					

			});
			
			
          

    });
	
}]);


app.controller( 'EventCtrl' , ['$http', '$window', '$scope', 'Lists', 'myHttpFactory' , function( $http, $window, $scope , Lists, myHttpFactory) {
	//TODO VALIDATION CODE HERE
	$scope.showPage1 = true;
	$scope.showPage2 = false;
	$scope.showPage3= false;
	
	$scope.eventname = "FISH";
	$scope.eventUUID = "TOAD";
	
	$scope.startEvent = function () {
		
		var eventcargo = {players: [], games:[], locations:[]};
		
		eventcargo.players = Lists.getList("playerList");
		eventcargo.games = Lists.getList("gameList");
		eventcargo.locations = Lists.getList("locationList");
		myHttpFactory.httpstartEvent(eventcargo).then(function(results) {
			
			$scope.showPage1 = false;
			$scope.showPage2 = true;
			//console.log("data:"  +JSON.stringify(results));
			//console.log("status:"  +status);
			//console.log("headers:"  +headers);
			//console.log("config:"  +config);
			
			$scope.$broadcast( "ShowPage2EventFromEventCtrl", results.data.UUIDEvt );

		});
		
	}

	$scope.commitEvent = function (eventUUID) {
		
		//get playerlist

		currentplayerlist = Lists.getList("playerList");

		console.log("UUUID" + eventUUID);
		console.log("stoptime" + new Date() );

		
		var eventcargocommit = {
			eventuuid:eventUUID,
			players: currentplayerlist,
			playedin: [],
				
		};
		
		console.log("JSON DUMP" + JSON.stringify(eventcargocommit));
		
		for (var i = 0; i < currentplayerlist.length; i++) {
			console.log("name" + currentplayerlist[i].Firstname);
			console.log("Result" + currentplayerlist[i].playedin["Result"]);
			console.log("Place" + currentplayerlist[i].playedin["Place"]);
			var playedinObj = { Result:"", Place:""};
			playedinObj.Result = currentplayerlist[i].playedin["Result"];
			playedinObj.Place = currentplayerlist[i].playedin["Place"];
			eventcargocommit.playedin[i] =playedinObj;
				   
		}
		
		myHttpFactory.httpcommitEvent(eventcargocommit).then(function(results) {
			

			
			
			//$scope.showPage1 = false;
			//$scope.showPage2 = true;
			//console.log("data:"  +JSON.stringify(results));
			//console.log("status:"  +status);
			//console.log("headers:"  +headers);
			//console.log("config:"  +config);
			
			//$scope.$broadcast( "ShowPage2EventFromEventCtrl", results.data.UUIDEvt );

		});
		alert("CINNUT INCOKETE");
		$window.location.href = "/";
		
	}
	
	$scope.cancelEvent = function () {
		
			//TODO remove event from database!
			//myHttpFactory.httpremoveEvent
			
			$scope.showPage1 = true;
			$scope.showPage2 = false;

		
	}
	
	}]);

</script>
[[template "footer.html" .]]