{{template "header.html" .}}


<script>


	var playerList ={};
	var playerToEventList = {};

function objToString (obj) {
    var str = '';
    for (var p in obj) {
        if (obj.hasOwnProperty(p)) {
            str += p + '::' + obj[p] + '\n';
        }
    }
    return str;
}


function redrawPlayerList(listtoredraw) {
	
	
	alert("REDRAWING:" + objToString(listtoredraw));
	var i;
	for (i = playerlist.options.length-1 ;i>0;i--)
	 {
			
			playerlist.remove(i);
	}
	

	for(var index in listtoredraw) {
	   // alert(i + " - " + playerList[i]); //Works Fine, "0 - Rick Bross", "1 - Madison Smith", etc.
	    $('#playerlist').append("<option uuid='" + listtoredraw[index] + "'>" + index + "</option>");
	}
	
}

function redrawEventList(listtoredraw) {
	
	
	alert("AJAX?????:");
	//$('#currentPlayerList').text("FISH");
	
}

function addPlayerToEvent(name, uuid) {
	
	alert("ADDING EVENT GROUP " + name + uuid);
	
	//already there?
	var playerToEventList  = sessionStorage.getItem( "playerToEventList" );
	alert("LATEST Event LIST:" + playerToEventList );
	
	if (playerToEventList == null ) { 
		alert("NEW");
		var playerToEventListJSON = {};
	} else {
		var playerToEventListJSON = JSON.parse( playerToEventList );
		
	}
		
	playerToEventListJSON[name] = uuid;
	alert("SETTING:" + objToString(playerToEventListJSON) );
	
	sessionStorage.setItem( "playerToEventList", JSON.stringify( playerToEventListJSON ) );
	
	var playerList  = sessionStorage.getItem( "playerList" );
	alert("LATEST Event LIST:" + playerList );
	
	if (playerList == null ) { 
		alert("all gone?");
	} else {
		var playerListJSON = JSON.parse( playerList );
		delete playerListJSON[name];
	}

	alert("PLAYER SETTING:" + objToString(playerListJSON) );
	sessionStorage.setItem( "playerList", JSON.stringify( playerListJSON ) );
	
	
	redrawEventList(playerToEventListJSON);
	redrawPlayerList(playerListJSON);
	
	

	
	
                  
}


$( document ).ready(function() {
  console.log( Date.now() );
	//sessionStorage.removeItem( "playerList" );
	//sessionStorage.removeItem( "playerToEventList");
	//var playerList = ;
	

	if (sessionStorage.getItem( "playerList" ) == null ) {
	    {{range .players}}
			playerList["{{.Firstname}} {{.Surname}}"] = "{{.UUID}}";
		{{end}}
		
		var jsonStr = JSON.stringify( playerList );
		sessionStorage.setItem( "playerList", jsonStr );
	}
	

	var playerlistJSON = JSON.parse( sessionStorage.getItem( "playerList" ) );

	redrawPlayerList(playerlistJSON);


});








</script>



<BR>




<div>
	<form id="selectPlayers" >
	<input name="selectplayer" list="playerlist" id="player">
	<datalist id="playerlist" ></datalist>
    <input type="submit" name="submit"  value="Add" />
	</form>
	<script>
	$( "#selectPlayers" ).submit(function( event ) {
		
    var g=$('#player').val();  
  	var id = $('#playerlist').find('option').filter(function() { 
			return $.trim( $(this).text() ) === g; }).attr('uuid');
    addPlayerToEvent(g, id);
	//event.preventDefault();
	});
	</script>
	
<div id="currentPlayerList"> answer </div>

</div>




{{template "footer.html" .}}
