{{template "header.html" .}}

<script src="/public/js/vendor/knockout-min.js"></script>

<script>
function submitForm() {
    $.ajax({type:'POST', url: '/players/createlist', data:$('#ContactForm').serialize(), success: function(response) {
        $('#ContactForm').find('.form_result').html(response);
    }});

    return false;
}


function AutoCompleteVM() {
    var self = this;
    self.completeList = ko.observableArray([]);
    self.text = ko.observable();
		

    self.updated = ko.computed(function (val) {
		
	
        var res = $.ajax({
            url: 'http://en.wikipedia.org/w/api.php?action=opensearch&search=' + self.text(),
            data: {},
            dataType: 'jsonp'
        });
			
        res.done(function (data) {
            self.completeList(data["1"]);
        });
    }, this).extend({
        throttle: 250
    });
}

//var autoComplete = new AutoCompleteVM();
//ko.applyBindings(autoComplete);


/*
$('.controls').on("input click", "#inputCity", function(e) {
var val = $(this).val();

dataList.empty();

if(val === "" || val.length < 3) return;

if(testObj.results.length) {
  for(var i=0, len=testObj.results.length; i<len; i++) {
    var opt = $("<option></option>").attr("value", testObj.results[i]['city']);
    tempObj[testObj.results[i]['city']] = testObj.results[i]['id'];

    dataList.append(opt);
  }
}

  });
*/

</script>

<div>

<BR>
{{.players}}
<form id="ContactForm" onsubmit="return submitForm();">
    Your Name: <input type="text" name="name" value="" /><br /> 
    Your Email: <input type="text" name="email" value="" /><br /> 
    Your Message:<br /> <textarea style="width: 200px; height: 100px;" name="message"></textarea> 
    <br /><br /> 
    <input type="submit" name="submit" value="Submit" /><br />
    <div class="form_result"> answer </div>
</form>

<br>

test
</div>


<div class="container">
    <div class="row">
        <div class="span12">
             <h2>HTML5 DataList Control<br/> <small>Dynamic Auto Complete with KnockoutJS and Wikipedia</small></h2> 
            <input class="input-xxlarge" type="text" name="complteList" list="complteList" placeholder="type in a word, e.g. india..." data-bind='value: text, valueUpdate: "afterkeydown"'>
            <datalist id="complteList" data-bind="foreach:completeList">
                <option data-bind="value:$data" />
            </datalist>
        </div>
    </div>
</div>


<div>
<form id="formID" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="input">Location</label>
    <div class="controls">
      <input type="text" list="LIST_CITIES" id="inputCity" 
      placeholder="Enter your location..">
    </div>
  </div>
  <!-- submit -->
  <button type="submit" class="btn">Submit</button>
</form>

<datalist id="LIST_CITIES"></datalist>
</div>

<div>
<input name="month" list="months" >
<datalist id="months" >
</datalist>
</div>

<script>


var str=''; // variable to store the options
var month = new Array();
    {{range .players}}
	
	str += '<option data-value="'+{{.UUID}}+'" >{{.Firstname}} {{.Surname}}</option>'; // Storing options in variable
//month.push("{{.Firstname}} {{.Surname}}");
{{end}}
//for (var i=0; i < month.length;++i){
//str += '<option data-value="'+month[i]+'" />'; // Storing options in variable
//}
var my_list=document.getElementById("months");
my_list.innerHTML = str;
</script>
</script>


{{template "footer.html" .}}
