[[template "header.html" .]]
[[if .players]]
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City, State</th>
      <th width="8%">Zip</th>
      <th width="13%">Action</th>
    </tr>
  </thead>
  <tbody>
    [[range .players]]
    <tr>
      <td>[[.Firstname]]</td>
      <td>[[.Surname]]</td>
      <td>
        <a href="[[url "Profile.Show" .UUID]]">View Profile</a>
      </td>
    </tr>
    [[end]]
  </tbody>
</table>
<p>
  <a id="nextPage" href="[[.nextPage]]">More results</a>
</p>

[[else]]
<p>
  No more results
</p>
[[end]]
[[template "footer.html" .]]