[[set . "title" "Home"]]
[[template "header.html" .]]

[[if .me]]
<h3>Welcome, [[.me.first_name]] [[.me.last_name]]</h3>
<img src="" />

<table border="1">
  <tbody>
    <tr>
	<td><a href="players/list">List all Players</a> </td></tr>
	<td><a href="events/list">List all Events</a> </td></tr>
     <Tr> <td><a href="profile/[[.me.playerUUID]]">Profile</a> </td> </tr>
	     <Tr> <td><a href="events/create">Record Event</a> </td> </tr>

    </tr>

</tbody>
</table>

[[template "footer.html" .]]

[[else]]

<link rel="stylesheet" type="text/css" href="/public/js/vendor/slick/1.5.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="/public/js/vendor/slick/1.5.0/slick-theme.css"/>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/public/js/vendor/slick/1.5.0/slick.js"></script>



 <div align="center">
<div class="slider autoplay">
    <div><img src="/public/img/application/smacktalk-txt-1.png"/></div>
		  <div><img src="/public/img/application/smacktalk-2.png"/></div>
		 <div><img src="/public/img/application/smacktalk-1.png"/></div>
    <div><img src="http://lorempixel.com/350/259"/></div>
    <div><img src="http://lorempixel.com/g/350/259"/></div>
	 
		  <div><img src="http://lorempixel.com//350/259/sports/2"/></div>
		
				  <div><img src="http://lorempixel.com//350/259/sports/4"/></div>
					


</div>
  <a href="[[.authUrl]]"><img src="/public/img/application/fb_login.png"/></a>
</div>






<script>
$(document).ready(function(){
	$('.autoplay').slick({
		dots: true,
  infinite: true,
  slidesToShow: 2,
  slidesToScroll: 1,
  centerMode: true,
  variableWidth: true,
  autoplay: true,
  autoplaySpeed: 5000,
	
	});
});
</script>



[[end]]




