{{set . "title" "Home"}}
{{template "header.html" .}}

<h1>Smacktalkgaming!</h1>


{{if .me}}
<h3>Welcome, {{.me.first_name}} {{.me.last_name}}</h3>
<img src="" />

<table border="1">
  <tbody>
    <tr>
	<td><a href="players/list">List all Players</a> </td></tr>
	<td><a href="events/list">List all Events</a> </td></tr>
     <Tr> <td><a href="profile/{{.me.playerUUID}}">Profile</a> </td> </tr>

    </tr>

</tbody>
</table>

{{else}}
<a href="{{.authUrl}}">login</a> <br> 
{{end}}

{{template "footer.html" .}}