[[template "header.html" .]]


	<script> 
		var app = angular.module( 'smacktalk-profile' ,  ['chart.js', 'md.data.table', 'ngMessages', 'ngMaterial' , 'LocalStorageModule'] ); 
		
		var URLplayeroverallstats = [[url "Players.OverallStats"]];
		var URLplayerstatus = [[url "Players.Status"]];
		var URLstats = [[url "Stats.Grab"]];

		[[if .permission]]
			var permission = [[.permission]];
			console.log("PERMISSION", permission);
		[[end]]

		
		[[if .playerinfo]]
			var playerinfo = [[.playerinfo]];
			console.log("EVENTS", playerinfo);
		[[end]]
		
		[[if .events]]
			var eventsList = [[.events]];
			console.log("EVENTS", eventsList);
		[[end]]
		[[if .playedins]]
			var playedinsList = [[.playedins]];
			console.log("Playedin", playedinsList);
		[[end]]
		[[if .games]]
			var gamesList = [[.games]];
			console.log("Games", gamesList);
		[[end]]
		
		[[if .eventcargo]]
			var eventcargo = [[.eventcargo]];
			console.log("eventcargo", eventcargo);
			
			
		[[end]]
		
		
		app.config( function ( localStorageServiceProvider) {
			localStorageServiceProvider.setPrefix('playerprofile');		
		});


	</script>
	
	<link rel="stylesheet" href="/public/js/vendor/angular-chart/angular-chart.css">

	<script type="text/javascript" src="/public/js/app/services/stats.js"></script>
	<script type="text/javascript" src="/public/js/app/directives/event.js"></script>
	<script type="text/javascript" src="/public/js/app/directives/httpFactory.js"></script>
	<script type="text/javascript" src="/public/js/vendor/chart/chart.js"></script>
	<script type="text/javascript" src="/public/js/vendor/angular-chart/angular-chart.js"></script>

	<style>
	.inputdemoErrors .inputErrorsApp {
		min-height: 48px; 
	}
	
	#stattable td {
		padding:0; margin:0;
	}

	#stattable {
		border-collapse: collapse;
	}
  
	</style>

</head>
<body  style="background-color: #b4dcb3;"  data-ng-app="smacktalk-profile">




    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
	    <md-tab label="[[.playerinfo.Firstname]] [[.playerinfo.Surname]] Character Sheet">
        <md-content layout-padding style="background-color: #b4dcb3;" >
			<div  layout="column"   ng-controller="OverAllStatsCtrl" ng-model="overallstats">
			<table  border="0"  id="DDtable">
			<tr>
				<td></td>
				<td>
					<div  ng-controller="ProfileCtrl"  ng-submit="update(projectForm);">
					  <md-content  style="background-color: #b4dcb3;" layout="row"  layout-padding>
						<form   name="projectForm">
						 <md-input-container>
							<label>Nickname</label>
							<input   style="width:150px" name="nickname" ng-model="project.nickname">
							<div ng-messages="projectForm.nickname.$error"> 
							  <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
							</div>

						 </md-input-container>
						 <md-input-container>
							<label>Birth Year</label>
							<input  type="number" style="width:80px" name="birthdate" ng-model="project.birthdate" min="1900" max="2999">

							<div ng-messages="projectForm.birthdate.$error">
							  <div ng-message="min">There is no way you were born before 1900... unless. Time traveler?</div>
							  <div ng-message="max">There is no way you were born after 2999... unless. Time traveler?</div>
							</div>

						  </md-input-container>
						  
						  
						  <md-input-container>
							<label>Alignment</label>
							<md-select style="width:170px" name="alignment" ng-model="project.alignment" placeholder="Alignment">
									<md-option ng-repeat="alignment in alignments" value="{{alignment}}">{{alignment}}</md-option>
							</md-select>
						  

						  </md-input-container>
						  <md-button  ng-show="somethingchanged(projectForm)" class="md-raised md-primary" name="updateButton">Update Profile</md-button>
						</form>
					  </md-content>
					</div>
				</td>
				<td></td>

				<td  colspan="0"   style=' text-align: center; 
								vertical-align: middle; 
								width: 278px; height: 200px; 
								background-image: url("/public/img/profile/sketch.png");
								background-repeat: no-repeat; '> 
						
				</td>
				<td></td>
				<td></td>
				<td></td>



			</tr>
			<tr style="height:110px" >
				<td style="width:5px"></td>
				<td  style='text-align: center; 
							vertical-align: middle; 
							width:200px; height: 100px; 
							background-image: url("/public/img/profile/armourclass.png");
							background-repeat: no-repeat; '> 
							
					
				</td>
				<td style="width:10px"></td>
				<td style=' text-align: center; 
							vertical-align: middle; 
							width: 116px; height: 88px; 
							background-image: url("/public/img/profile/hitpoints.png");
							background-repeat: no-repeat; '> 
					
				</td>
				<td style="width:10px"></td>
				<td></td>
				<td></td>
				
			</tr>
			
			</table>
			<br><br>
			
			<table border="0" id="stattable">
			<tr>
				<td style="width:5px"></td>
				<td  style='text-align: center; 
							vertical-align: middle; 
							width: 87px; height: 96px; 
							background-image: url("/public/img/profile/charactersheetbackground.png");
							background-repeat: no-repeat; '> 
							
					<b>{{overallstats.eventsinfo.total}}</b>
				</td>
				<td style="width:3px"></td>
				<td>  <span><b>{{overallstats.eventsinfo.title}}</b></span> </td>
				<td style="width:15%"></td>
				
				<td style=' text-align: center; 
							vertical-align: middle; 
							width: 91px; height: 96px; 
							background-image: url("/public/img/profile/charactersheetbackgroundcircle.png");
							background-repeat: no-repeat; '> 
					<b>{{overallstats.stats.won.total}}</b>
				</td>
				<td style="width:5px"></td>
				<td> <span><b>{{overallstats.stats.won.title}}</b></span> </td>
			</tr>

			<tr>
				<td style="width:5px"></td>
				<td style='	text-align: center; 
							vertical-align: middle; 
							width: 87px; height: 96px; 
							background-image: url("/public/img/profile/charactersheetbackground.png");
							background-repeat: no-repeat; '> 
							
					<b>{{overallstats.gamesinfo.total}}</b>
				</td>
				<td style="width:5px"></td>
				<td> <span><b>{{overallstats.gamesinfo.title}}</b></span> </td>
				<td style="width:15%"></td>
				
				<td style=' text-align: center; 
							vertical-align: middle; 
							width: 91px; height: 96px; 
							background-image: url("/public/img/profile/charactersheetbackgroundcircle.png");
							background-repeat: no-repeat; '> 
					<b>{{overallstats.stats.lost.total}}</b>
				</td>
				<td style="width:3px"></td>
				<td> <span><b>{{overallstats.stats.lost.title}}</b></span> </td>
			</tr>

			<tr>
				<td style="width:5px"></td>
				<td style='	text-align: center; 
							vertical-align: middle; 
							width: 87px; height: 96px; 
							background-image: url("/public/img/profile/charactersheetbackground.png");
							background-repeat: no-repeat; '> 
							
					<b>{{overallstats.playersinfo.total}}</b>
				</td>
				<td style="width:5px"></td>
				<td> <span><b>{{overallstats.playersinfo.title}}</b></span> </td>
				<td style="width:15%"></td>
				
				<td style=' text-align: center; 
							vertical-align: middle; 
							width: 91px; height: 96px; 
							background-image: url("/public/img/profile/charactersheetbackgroundcircle.png");
							background-repeat: no-repeat; '> 
					<b>{{overallstats.stats.other.total}}</b>
				</td>
				<td style="width:3px"></td>
				<td> <span><b>{{overallstats.stats.other.title}}</b></span> </td>
				

			</tr>
			</table>
			</div>
        </md-content>
      </md-tab>

	  <md-tab    label="List of all my Events">
		<div  ng-controller="EventsProfileCtrl" layout="column" ng-submit="update(projectForm);" ng-model="showevents" >
		  <md-content  style="background-color: #b4dcb3;"   layout-padding>
		  
			<md-data-table-toolbar>
			  <h2 class="md-title">Events I have played in</h2>
			</md-data-table-toolbar>

			<md-data-table-container>
			  <table md-data-table class="md-primary" >
				<thead md-order="query.order" md-trigger="onOrderChange">
				  <tr>
					<th name="Games Played"  order-by="gamesplayed"></th>
					<th name="Results"  order-by="results"></th>
					<th name="Event Name"  order-by="Eventname"></th>
					<th name="Start"  order-by="Start"></th>
					<th name="End"  order-by="Stop"></th>
					<th name="Location"  order-by="location"></th>

					
				  </tr>
				</thead>
				<tbody>
				  <tr md-auto-select 
				  ng-repeat="event in showevents | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
				  
					<td>{{event.gamesplayed}}</td>
					<td>{{event.results}}</td>
					<td>{{event.Eventname}}</td>
					<td>{{event.Start}}</td>
					<td>{{event.Stop}}</td>
					<td>{{event.location}}</td>
				  </tr>
				</tbody>
			  </table>
			</md-data-table-container>		  
			<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{showevents.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>
			
		  </md-content>
		</div>
      </md-tab>
	  
	  <md-tab label="Interesting Stats">
        <md-content layout-padding style="background-color: #b4dcb3;" >
		


		<div  layout="row" ng-controller="CoolStats" ng-model="stats">
		  <div flex >
		  
		  <!--NEMESES-->
			  <md-card>
				  <md-card-content ng-init="NemesisInit()" >
					<h2 class="md-title">Who are my Nemeses?</h2>
					<p>
					  <b>Nemeses</b>: Top 3 people who have placed higher than you in total events.
					</p>
					<div class="md-actions" layout="row" layout-align="end center">
					<md-button ng-click="showNemeses()">Nemeses</md-button>
					
					</div>
					
					<md-list>
						<md-list-item 	ng-show="shownemeses" class="md-2-line" 
										ng-repeat="nemesis in stats.nemesis">
        
							<div class="md-list-item-text" layout="column">
								<h3>{{ nemesis.name }}</h3>
								<h3>Beaten you: {{ nemesis.record }} times </h3>
							</div>
							
						</md-list-item>
					</md-list>
					<!-- EXAMPLE CHART 
					<canvas ng-show="shownemeses" id="nemesis" class="chart chart-doughnut" 
							chart-data="stats.nemesis.data"
							chart-labels="stats.nemesis.labels" 
							chart-legend="stats.nemesis.legend" >
					</canvas> 
					-->
					
					
				  </md-card-content>
				  
				</md-card>
			
		  </div>
		  <div flex>
			<!--DOMINATING-->
				<md-card>
				  <md-card-content ng-init="NemesisInit()" >
					<h2 class="md-title">Who am I dominating?</h2>
					<p>
					  
					  <b>Dominating</b>: Top 3 people who have placed lower than you in total events.
					</p>
					<div class="md-actions" layout="row" layout-align="end center">
					
					<md-button ng-click="showDominate()">Dominating</md-button>
					</div>
					
					<md-list>
						<md-list-item 	ng-show="showdominate" class="md-2-line" 
										ng-repeat="dominate in stats.dominate">
        
							<div class="md-list-item-text" layout="column">
								<h3>{{ dominate.name }}</h3>
								<h3>You have beaten: {{ dominate.record }} times </h3>
							</div>
							
						</md-list-item>
					</md-list>
					<!--
					<canvas ng-show="showdominate" id="dominate" class="chart chart-doughnut" 
							chart-data="stats.dominate.data" 
							chart-labels="stats.dominate.labels" 
							chart-legend="stats.dominate.legend">
					</canvas> 
					-->
					
				  </md-card-content>
				  
				</md-card>
		  </div>
		  <div flex hide-sm>
			
		  </div>
		</div>


			
		
        </md-content>
      </md-tab>
	  <!--
	  <md-tab label="CS with GRID">
        <md-content layout-padding style="background-color: #b4dcb3;" >
			<div layout="row" layout-wrap  ng-controller="OverAllStatsCtrl" ng-model="overallstats">
				<div  flex="25" ng-controller="ProfileCtrl"  ng-submit="update(projectForm);">
					  <md-content  style="background-color: #b4dcb3;" layout="row"  layout-padding>
						<form   name="projectForm">
						 <md-input-container>
							<label>Nickname</label>
							<input   style="width:150px" name="nickname" ng-model="project.nickname">
							<div ng-messages="projectForm.nickname.$error"> 
							  <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
							</div>

						 </md-input-container>
						 <md-input-container>
							<label>Birth Year</label>
							<input  type="number" style="width:80px" name="birthdate" ng-model="project.birthdate" min="1900" max="2999">

							<div ng-messages="projectForm.birthdate.$error">
							  <div ng-message="min">There is no way you were born before 1900... unless. Time traveler?</div>
							  <div ng-message="max">There is no way you were born after 2999... unless. Time traveler?</div>
							</div>

						  </md-input-container>
						  
						  
						  <md-input-container>
							<label>Alignment</label>
							<md-select style="width:150px" name="alignment" ng-model="project.alignment" placeholder="Alignment">
									<md-option ng-repeat="alignment in alignments" value="{{alignment}}">{{alignment}}</md-option>
							</md-select>
						  

						  </md-input-container>
						  <md-button  ng-show="somethingchanged(projectForm)" class="md-raised md-primary" name="updateButton">Update Profile</md-button>
						</form>
					  </md-content>
				</div>
				<div flex="75" >
					<table><tr><td  colspan="0"   style=' text-align: center; 
								vertical-align: middle; 
								width: 278px; height: 200px; 
								background-image: url("/public/img/profile/sketch.png");
								background-repeat: no-repeat; '> 
						
								</td></tr>
					</table>
				</div>
				
				<div flex="100" style="height: 10px;" >
				</div>
				
				<div flex="5">
				
				</div>
				
				<div flex="95">
				
					<table  border="0"  id="DDtable">
						<tr style="height:110px" >
							<td style="width:5px"></td>
							<td  style='text-align: center; 
										vertical-align: middle; 
										width:200px; height: 100px; 
										background-image: url("/public/img/profile/armourclass.png");
										background-repeat: no-repeat; '> 
										
								
							</td>
							<td style="width:10px"></td>
							<td style=' text-align: center; 
										vertical-align: middle; 
										width: 116px; height: 88px; 
										background-image: url("/public/img/profile/hitpoints.png");
										background-repeat: no-repeat; '> 
								
							</td>
						
						</tr>
					</table>
				</div>
					
				<div flex="50">
					<table border="0" id="stattable">
					<tr>
						<td style="width:5px"></td>
						<td  style='text-align: center; 
									vertical-align: middle; 
									width: 87px; height: 96px; 
									background-image: url("/public/img/profile/charactersheetbackground.png");
									background-repeat: no-repeat; '> 
									
							<b>{{overallstats.eventsinfo.total}}</b>
						</td>
						<td style="width:3px"></td>
						<td>  <span><b>{{overallstats.eventsinfo.title}}</b></span> </td>
						<td style="width:15%"></td>
						
						<td style=' text-align: center; 
									vertical-align: middle; 
									width: 91px; height: 96px; 
									background-image: url("/public/img/profile/charactersheetbackgroundcircle.png");
									background-repeat: no-repeat; '> 
							<b>{{overallstats.stats.won.total}}</b>
						</td>
						<td style="width:5px"></td>
						<td> <span><b>{{overallstats.stats.won.title}}</b></span> </td>
					</tr>

					<tr>
						<td style="width:5px"></td>
						<td style='	text-align: center; 
									vertical-align: middle; 
									width: 87px; height: 96px; 
									background-image: url("/public/img/profile/charactersheetbackground.png");
									background-repeat: no-repeat; '> 
									
							<b>{{overallstats.gamesinfo.total}}</b>
						</td>
						<td style="width:5px"></td>
						<td> <span><b>{{overallstats.gamesinfo.title}}</b></span> </td>
						<td style="width:15%"></td>
						
						<td style=' text-align: center; 
									vertical-align: middle; 
									width: 91px; height: 96px; 
									background-image: url("/public/img/profile/charactersheetbackgroundcircle.png");
									background-repeat: no-repeat; '> 
							<b>{{overallstats.stats.lost.total}}</b>
						</td>
						<td style="width:3px"></td>
						<td> <span><b>{{overallstats.stats.lost.title}}</b></span> </td>
					</tr>

					<tr>
						<td style="width:5px"></td>
						<td style='	text-align: center; 
									vertical-align: middle; 
									width: 87px; height: 96px; 
									background-image: url("/public/img/profile/charactersheetbackground.png");
									background-repeat: no-repeat; '> 
									
							<b>{{overallstats.playersinfo.total}}</b>
						</td>
						<td style="width:5px"></td>
						<td> <span><b>{{overallstats.playersinfo.title}}</b></span> </td>
						<td style="width:15%"></td>
						
						<td style=' text-align: center; 
									vertical-align: middle; 
									width: 91px; height: 96px; 
									background-image: url("/public/img/profile/charactersheetbackgroundcircle.png");
									background-repeat: no-repeat; '> 
							<b>{{overallstats.stats.other.total}}</b>
						</td>
						<td style="width:3px"></td>
						<td> <span><b>{{overallstats.stats.other.title}}</b></span> </td>
						

					</tr>
					</table>
				</div>
			</div>
        </md-content>
      </md-tab>
	  !-->
	  
	  
	  
	  
	  
    </md-tabs>
	





<script>

app.controller('GridTest', ['$scope', function($scope) {


}]);


app.controller( 'OverAllStatsCtrl' , ['$scope', 'stats', function( $scope, stats ) {

	stats.setEventcargo(eventcargo);
	
	$scope.eventsinfo = {
		'total': stats.getNumberEvents(),
		'title': "EVENTS",
	};
	$scope.gamesinfo = {
		'total': gamesList.length,
		'title': "GAMES",
	};
	$scope.playersinfo = {
		'total': stats.getNumberCompetitors(),
		'title': "PLAYERS",
	};
	
	
	$scope.stats = {
		won: {
			'total': 0,
			'title': "WON or DEMOLISH",
			'DEMOLISH': 0,
			'WON': 0,
		},
		lost: {
			'total': 0,
			'title': "LOST or SKUNK",
			'LOST': 0,
			'SKUNK': 0,
		},
		other: {
			'total': 0,
			'title': "TIE or DROP or QUIT",
			'TIE': 0,
			'DROP': 0,
			'QUIT': 0,
			'RAGEQUIT': 0,
		}
		
	};
	
	for (var i = 0; i < playedinsList.length; i++) {
		switch(playedinsList[i].Result) {
			case "DEMOLISH":
				$scope.stats.won.total++;
				$scope.stats.won.DEMOLISH.total++;
				break;
			case "WON":
				$scope.stats.won.total++;
				$scope.stats.won.WON.total++;
				break;
			case "TIE":
				$scope.stats.other.total++;
				$scope.stats.other.TIE.total++;
				break;
			case "LOST":
				$scope.stats.lost.total++;
				$scope.stats.lost.LOST.total++;
				break;
			case "SKUNK":
				$scope.stats.lost.total++;
				$scope.stats.lost.SKUNK.total++;
				break;
			case "DROP":
				$scope.stats.other.total++;
				$scope.stats.other.DROP.total++;
				break;
			case "QUIT":
				$scope.stats.other.total++;
				$scope.stats.other.QUIT.total++;
				break;
			case "RAGE QUIT":
				$scope.stats.other.total++;
				$scope.stats.other.RAGEQUIT.total++;
				break;
				
		}
	}
	
	
	$scope.overallstats = {
		eventsinfo: $scope.eventsinfo,
		gamesinfo: $scope.gamesinfo,
		playersinfo: $scope.playersinfo,
		stats: $scope.stats,
	
	};
	
	
	
	


}]);

app.controller('EventsProfileCtrl', ['$scope', 'myHttpFactory', 'stats', function($scope, myHttpFactory, stats) {

	events = [];
	
	$scope.showevents = stats.getPrettyEventStats();
	console.log("showevents", $scope.showevents);
	$scope.selected = [];

	  $scope.query = {
		filter: '',
		order: '-Start',
		limit: 10,
		page: 1
	  };

	  
	  $scope.compare = 		function compare(a,b) {
			//console.log("HERE",a.Eventname,b.Eventname);
				if (a.Eventname < b.Eventname)
					return -1;
				if (a.Eventname > b.Eventname)
					return 1;
				return 0;
		};

	  // in the future we may see a few built in alternate headers but in the mean time
	  // you can implement your own search header and do something like
	  $scope.search = function (predicate) {
		console.log("search");
		//$scope.filter = predicate;
		//$scope.deferred = $nutrition.desserts.get($scope.query, success).$promise;
	  };

	  $scope.onOrderChange = function (order) {

	    //$scope.showevents = "fish";

		//return $nutrition.desserts.get($scope.query, success).$promise; 
	  };

	  $scope.onPaginationChange = function (page, limit) {
		console.log("onPaginationChange", page , limit);
		//return eventsList;
	  };
}]);




app.controller('ProfileCtrl', ['$scope', 'myHttpFactory', function($scope, myHttpFactory) {

	if (typeof(playerinfo.UUID) == 'undefined') {
		alert("plaerUUID is undefined");
		return;
	} ;
	
	

	
	$scope.alignments = [
		"Lawful Good",	
		"Neutral Good",
		"Chaotic Good",
		"Lawful Neutral",	
		"(True) Neutral",
		"Chaotic Neutral",
		"Lawful Evil",	
		"Neutral Evil",	
		"Chaotic Evil"
	
	];
	

	$scope.project = {
		nickname: playerinfo.Nickname,
		birthdate: parseInt(playerinfo.Birthdate),
		alignment: playerinfo.Alignment
	};
	
	$scope.update = function( playerinfodelta ) { 
		var playercargo = playerinfo;
		
				console.log("playerinfodelta", playerinfodelta);
		
		playercargo.Alignment = playerinfodelta.alignment.$viewValue;
		playercargo.Birthdate = playerinfodelta.birthdate.$viewValue;
		playercargo.Nickname = playerinfodelta.nickname.$viewValue;
		
		console.log("Playercargo", playercargo);
		
		myHttpFactory.updatePlayer(playercargo).then(function(results) {
					console.log("data:"  +JSON.stringify(results));

		});
	
		
 	};
   $scope.somethingchanged = function(projectForm) {
   
	   if (permission.readonly == "true") {
			return 0;
	   }
   
		var retval = 0;
		//console.log("alignment", projectForm.alignment);
		//|| projectForm.alignment.$viewValue != playerinfo.Alignment
		if (projectForm.birthdate.$viewValue != playerinfo.Birthdate || 
			projectForm.nickname.$viewValue != playerinfo.Nickname || 
			((typeof(projectForm.alignment) != 'undefined') && projectForm.alignment.$viewValue != playerinfo.Alignment) ) {
	
			retval = 1;
		}
         return retval;   
    };  

}]);


app.controller('CoolStats', ['$scope', 'myHttpFactory',  function($scope, myHttpFactory ) {

	var nemesis = "FISH";
	//NEMESIS
	
	$scope.shownemeses = false;
	$scope.showdominate = false;
	
	
	/* EXAMPLE of chart
	$scope.stats =  {
		nemesis: { 
					labels: [],
					series: [],
					data: []
		},
		dominate: { 
			labels: [],
			series: [],
			data: [] 
		}
	};
	*/
	
	$scope.stats = {
		nemesis: [
			
		],
		
		dominate: [
			
		]
	
	
	};
	
	
	console.log("CoolStats");
	
	FindNemesis($scope.stats);
	console.log("nemesis", $scope.stats.nemesis);
	
	/*
	$scope.stats.nemesis.labels = ['nemeses'];
	$scope.stats.nemesis.series = ['Myron', 'Olivia Builder', 'Jess'];
	$scope.stats.nemesis.data = [
								[3],
										[2],
												[1],
	
									];
	$scope.stats.dominate.labels = ['dominating'];
	$scope.stats.dominate.series = ['John', '<a>fred</a>', 'Jess'];
	$scope.stats.dominate.data = [
								[-3],
										[4],
												[2],
	
									];

 */


	$scope.showNemeses = function () {
		$scope.shownemeses = true;
		//$scope.showdominate = false;
	};
	$scope.showDominate = function () {
		//$scope.shownemeses = false;
		$scope.showdominate = true;
	};


}]);



function FindNemesis(stats) {

	


	var rated = [];
	for (var i = 0; i < eventcargo.length; i++) {
		
		var meuuid = 666;
		var ident = 0;
		var sortA = [];
		for (j=0;j<eventcargo[i].Competitors.length;j++) {
			var playeruuid = eventcargo[i].Competitors[j].Player.UUID;
			
			var temprate = {
					name: eventcargo[i].Competitors[j].Player.Firstname + " " + eventcargo[i].Competitors[j].Player.Surname,
					uuid: playeruuid,
					rating: eventcargo[i].Competitors[j].Result.Place,
					beatthem: 0,
					beatenbythem: 0
			};

			sortA.push(temprate);
			
			sortA.sort(function(a, b) {
					if (a.rating < b.rating) {
						return -1;
					}
					if (a.rating > b.rating) {
						return 1;
					}
					return 0;
			});
		}

		//console.log("sorted",sortA);
		// after sorting the places, record wins/loses 
		// add the other player's stats to return array
		var foundme = false;
		
		
		
		
		//console.log("sortA", sortA);
		for (k=0;k<sortA.length;k++) {
		
			//console.log("rated:", rated, k);
			if (playerinfo.UUID == sortA[k].uuid ) {
				foundme = true;
			} else 
			{
				var ratedExist = false;
				var ratedLoc = 0;
				for (m=0;m<rated.length;m++) {
					if (rated[m].uuid == sortA[k].uuid) {
						ratedExist = true;
						ratedLoc = m;
					}
				}
				if (!ratedExist) {
					rated.push(sortA[k]);
					rated[rated.length-1].beatenbythem++;
				}  else {
			
					if (!foundme) {
						rated[ratedLoc].beatenbythem++; 
						
					} else {
						rated[ratedLoc].beatthem++; 
					}
				}
			}
			
		}
		
		
		
		
	}

	//ratedSorted = Object.keys(rated).sort(function(a,b){return rated[a]-rated[b]})
	//console.log("rated",rated);
	
	var top = 3;
	var bottom = 3;
	
	if (rated.length < 6) {
	//TODO: fix for less then 6. too tired
	
	} else {
	
	//sort the rated array of objects to top 3 and bottom 3
		rated.sort(function(a, b) {
					if (a.beatenbythem < b.beatenbythem) {
						return 1;
					}
					if (a.beatenbythem > b.beatenbythem) {
						return -1;
					}
					return 0;
			});

		stats.nemesis.push({ name:rated[0].name, record:rated[0].beatenbythem});
		stats.nemesis.push({ name:rated[1].name, record:rated[1].beatenbythem});
		stats.nemesis.push({ name:rated[2].name, record:rated[2].beatenbythem});

		//for charts
		//chart.nemesis.legend = true;
		//chart.nemesis.labels = [rated[0].name, rated[1].name, rated[2].name];
		//chart.nemesis.data = [rated[0].beatenbythem, rated[1].beatenbythem, rated[2].beatenbythem];
	
	
		rated.sort(function(a, b) {
					if (a.beatthem < b.beatthem) {
						return 1;
					}
					if (a.beatthem > b.beatthem) {
						return -1;
					}
					return 0;
			});
	
		stats.dominate.push({ name:rated[0].name, record:rated[0].beatthem});
		stats.dominate.push({ name:rated[1].name, record:rated[1].beatthem});
		stats.dominate.push({ name:rated[2].name, record:rated[2].beatthem});
	
	
		/*
		chart.dominate.legend = true;
		chart.dominate.labels = [rated[0].name, rated[1].name, rated[2].name];
		chart.dominate.data = [rated[0].beatthem, rated[1].beatthem, rated[2].beatthem];
		*/
	}
};


</script>

[[template "footer.html" .]]