[[template "header.html" .]]
	<script> 
		var app = angular.module( 'smacktalk-profile' ,  [ 'ngMessages', 'ngMaterial' , 'LocalStorageModule'] ); 
		
		var URLplayeroverallstats = [[url "Players.OverallStats"]];
		var URLplayerstatus = [[url "Players.Status"]];

		[[if .permission]]
			var permission = [[.permission]];
			console.log("PERMISSION", permission);
		[[end]]

		
		[[if .playerinfo]]
			var playerinfo = [[.playerinfo]];
			console.log("EVENTS", playerinfo);
		[[end]]
		
		[[if .events]]
			var eventsList = [[.events]];
			console.log("EVENTS", eventsList);
		[[end]]
		[[if .playedins]]
			var playedinsList = [[.playedins]];
			console.log("Playedin", playedinsList);
		[[end]]
		[[if .games]]
			var gamesList = [[.games]];
			console.log("Games", gamesList);
		[[end]]
		
		
		app.config( function ( localStorageServiceProvider) {
			localStorageServiceProvider.setPrefix('playerprofile');		
		});
		
		

		
		


	</script>

	
	<script type="text/javascript" src="/public/js/app/directives/httpFactory.js"></script>

	<style>
	.inputdemoErrors .inputErrorsApp {
		min-height: 48px; 
	}
	
	#stattable td {
		padding:0; margin:0;
	}

	#stattable {
		border-collapse: collapse;
	}
  
	</style>

</head>
<body  style="background-color: #b4dcb3;"  data-ng-app="smacktalk-profile">




    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
	    <md-tab label="Character Sheet">
        <md-content layout-padding style="background-color: #b4dcb3;" >
			<div  layout="column"   ng-controller="OverAllStatsCtrl" ng-model="overallstats">
			<table  border="0"  id="DDtable">
			<tr>
				<td></td>
				<td>
					<div  ng-controller="ProfileCtrl"  ng-submit="update(projectForm);">
					  <md-content  style="background-color: #b4dcb3;" layout="row"  layout-padding>
						<form   name="projectForm">
						 <md-input-container>
							<label>Nickname</label>
							<input   style="width:150px" name="nickname" ng-model="project.nickname">
							<div ng-messages="projectForm.nickname.$error"> 
							  <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
							</div>

						 </md-input-container>
						 <md-input-container>
							<label>Birth Year</label>
							<input  type="number" style="width:80px" name="birthdate" ng-model="project.birthdate" min="1900" max="2999">

							<div ng-messages="projectForm.birthdate.$error">
							  <div ng-message="min">There is no way you were born before 1900... unless. Time traveler?</div>
							  <div ng-message="max">There is no way you were born after 2999... unless. Time traveler?</div>
							</div>

						  </md-input-container>
						  
						  
						  <md-input-container>
							<label>Alignment</label>
							<md-select style="width:150px" name="alignment" ng-model="project.alignment" placeholder="Alignment">
									<md-option ng-repeat="alignment in alignments" value="{{alignment}}">{{alignment}}</md-option>
							</md-select>
						  

						  </md-input-container>
						  <md-button  ng-show="somethingchanged(projectForm)" class="md-raised md-primary" name="updateButton">Update Profile</md-button>
						</form>
					  </md-content>
					</div>
				</td>
				<td></td>

				<td  colspan="0"   style=' text-align: center; 
								vertical-align: middle; 
								width: 278px; height: 200px; 
								background-image: url("/public/img/profile/sketch.png");
								background-repeat: no-repeat; '> 
						
				</td>
				<td></td>
				<td></td>
				<td></td>



			</tr>
			<tr style="height:110px" >
				<td style="width:5px"></td>
				<td  style='text-align: center; 
							vertical-align: middle; 
							width:200px; height: 100px; 
							background-image: url("/public/img/profile/armourclass.png");
							background-repeat: no-repeat; '> 
							
					
				</td>
				<td style="width:10px"></td>
				<td style=' text-align: center; 
							vertical-align: middle; 
							width: 116px; height: 88px; 
							background-image: url("/public/img/profile/hitpoints.png");
							background-repeat: no-repeat; '> 
					
				</td>
				<td style="width:10px"></td>
				<td></td>
				<td></td>
				
			</tr>
			
			</table>
			<br><br>
			
			<table border="0" id="stattable">
			<tr>
				<td style="width:5px"></td>
				<td  style='text-align: center; 
							vertical-align: middle; 
							width: 87px; height: 96px; 
							background-image: url("/public/img/profile/charactersheetbackground.png");
							background-repeat: no-repeat; '> 
							
					<b>{{overallstats.eventsinfo.total}}</b>
				</td>
				<td style="width:3px"></td>
				<td>  <span><b>{{overallstats.eventsinfo.title}}</b></span> </td>
				<td style="width:15%"></td>
				
				<td style=' text-align: center; 
							vertical-align: middle; 
							width: 91px; height: 96px; 
							background-image: url("/public/img/profile/charactersheetbackgroundcircle.png");
							background-repeat: no-repeat; '> 
					<b>{{overallstats.stats.won.total}}</b>
				</td>
				<td style="width:5px"></td>
				<td> <span><b>{{overallstats.stats.won.title}}</b></span> </td>
			</tr>

			<tr>
				<td style="width:5px"></td>
				<td style='	text-align: center; 
							vertical-align: middle; 
							width: 87px; height: 96px; 
							background-image: url("/public/img/profile/charactersheetbackground.png");
							background-repeat: no-repeat; '> 
							
					<b>{{overallstats.gamesinfo.total}}</b>
				</td>
				<td style="width:5px"></td>
				<td> <span><b>{{overallstats.gamesinfo.title}}</b></span> </td>
				<td style="width:15%"></td>
				
				<td style=' text-align: center; 
							vertical-align: middle; 
							width: 91px; height: 96px; 
							background-image: url("/public/img/profile/charactersheetbackgroundcircle.png");
							background-repeat: no-repeat; '> 
					<b>{{overallstats.stats.lost.total}}</b>
				</td>
				<td style="width:3px"></td>
				<td> <span><b>{{overallstats.stats.lost.title}}</b></span> </td>
			</tr>

			<tr>
				<td style="width:5px"></td>
				<td style='	text-align: center; 
							vertical-align: middle; 
							width: 87px; height: 96px; 
							background-image: url("/public/img/profile/charactersheetbackground.png");
							background-repeat: no-repeat; '> 
							
					<b>{{overallstats.playersinfo.total}}</b>
				</td>
				<td style="width:5px"></td>
				<td> <span><b>{{overallstats.playersinfo.title}}</b></span> </td>
				<td style="width:15%"></td>
				
				<td style=' text-align: center; 
							vertical-align: middle; 
							width: 91px; height: 96px; 
							background-image: url("/public/img/profile/charactersheetbackgroundcircle.png");
							background-repeat: no-repeat; '> 
					<b>{{overallstats.stats.other.total}}</b>
				</td>
				<td style="width:3px"></td>
				<td> <span><b>{{overallstats.stats.other.title}}</b></span> </td>
				

			</tr>
			</table>
			</div>
        </md-content>
      </md-tab>

	  <md-tab    label="Events">
		<div  ng-controller="EventsProfileCtrl" layout="column" ng-submit="update(projectForm);">
		  <md-content  style="background-color: #b4dcb3;"   layout-padding>

		  </md-content>
		</div>
      </md-tab>
	  
	  
	  <md-tab label="CS with GRID">
        <md-content layout-padding style="background-color: #b4dcb3;" >
			<div layout="row" layout-wrap  ng-controller="OverAllStatsCtrl" ng-model="overallstats">
				<div  flex="25" ng-controller="ProfileCtrl"  ng-submit="update(projectForm);">
					  <md-content  style="background-color: #b4dcb3;" layout="row"  layout-padding>
						<form   name="projectForm">
						 <md-input-container>
							<label>Nickname</label>
							<input   style="width:150px" name="nickname" ng-model="project.nickname">
							<div ng-messages="projectForm.nickname.$error"> 
							  <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
							</div>

						 </md-input-container>
						 <md-input-container>
							<label>Birth Year</label>
							<input  type="number" style="width:80px" name="birthdate" ng-model="project.birthdate" min="1900" max="2999">

							<div ng-messages="projectForm.birthdate.$error">
							  <div ng-message="min">There is no way you were born before 1900... unless. Time traveler?</div>
							  <div ng-message="max">There is no way you were born after 2999... unless. Time traveler?</div>
							</div>

						  </md-input-container>
						  
						  
						  <md-input-container>
							<label>Alignment</label>
							<md-select style="width:150px" name="alignment" ng-model="project.alignment" placeholder="Alignment">
									<md-option ng-repeat="alignment in alignments" value="{{alignment}}">{{alignment}}</md-option>
							</md-select>
						  

						  </md-input-container>
						  <md-button  ng-show="somethingchanged(projectForm)" class="md-raised md-primary" name="updateButton">Update Profile</md-button>
						</form>
					  </md-content>
				</div>
				<div flex="75" >
					<table><tr><td  colspan="0"   style=' text-align: center; 
								vertical-align: middle; 
								width: 278px; height: 200px; 
								background-image: url("/public/img/profile/sketch.png");
								background-repeat: no-repeat; '> 
						
								</td></tr>
					</table>
				</div>
				
				<div flex="100" style="height: 10px;" >
				</div>
				
				<div flex="5">
				
				</div>
				
				<div flex="95">
				
					<table  border="0"  id="DDtable">
						<tr style="height:110px" >
							<td style="width:5px"></td>
							<td  style='text-align: center; 
										vertical-align: middle; 
										width:200px; height: 100px; 
										background-image: url("/public/img/profile/armourclass.png");
										background-repeat: no-repeat; '> 
										
								
							</td>
							<td style="width:10px"></td>
							<td style=' text-align: center; 
										vertical-align: middle; 
										width: 116px; height: 88px; 
										background-image: url("/public/img/profile/hitpoints.png");
										background-repeat: no-repeat; '> 
								
							</td>
						
						</tr>
					</table>
				</div>
					
				<div flex="50">
					<table border="0" id="stattable">
					<tr>
						<td style="width:5px"></td>
						<td  style='text-align: center; 
									vertical-align: middle; 
									width: 87px; height: 96px; 
									background-image: url("/public/img/profile/charactersheetbackground.png");
									background-repeat: no-repeat; '> 
									
							<b>{{overallstats.eventsinfo.total}}</b>
						</td>
						<td style="width:3px"></td>
						<td>  <span><b>{{overallstats.eventsinfo.title}}</b></span> </td>
						<td style="width:15%"></td>
						
						<td style=' text-align: center; 
									vertical-align: middle; 
									width: 91px; height: 96px; 
									background-image: url("/public/img/profile/charactersheetbackgroundcircle.png");
									background-repeat: no-repeat; '> 
							<b>{{overallstats.stats.won.total}}</b>
						</td>
						<td style="width:5px"></td>
						<td> <span><b>{{overallstats.stats.won.title}}</b></span> </td>
					</tr>

					<tr>
						<td style="width:5px"></td>
						<td style='	text-align: center; 
									vertical-align: middle; 
									width: 87px; height: 96px; 
									background-image: url("/public/img/profile/charactersheetbackground.png");
									background-repeat: no-repeat; '> 
									
							<b>{{overallstats.gamesinfo.total}}</b>
						</td>
						<td style="width:5px"></td>
						<td> <span><b>{{overallstats.gamesinfo.title}}</b></span> </td>
						<td style="width:15%"></td>
						
						<td style=' text-align: center; 
									vertical-align: middle; 
									width: 91px; height: 96px; 
									background-image: url("/public/img/profile/charactersheetbackgroundcircle.png");
									background-repeat: no-repeat; '> 
							<b>{{overallstats.stats.lost.total}}</b>
						</td>
						<td style="width:3px"></td>
						<td> <span><b>{{overallstats.stats.lost.title}}</b></span> </td>
					</tr>

					<tr>
						<td style="width:5px"></td>
						<td style='	text-align: center; 
									vertical-align: middle; 
									width: 87px; height: 96px; 
									background-image: url("/public/img/profile/charactersheetbackground.png");
									background-repeat: no-repeat; '> 
									
							<b>{{overallstats.playersinfo.total}}</b>
						</td>
						<td style="width:5px"></td>
						<td> <span><b>{{overallstats.playersinfo.title}}</b></span> </td>
						<td style="width:15%"></td>
						
						<td style=' text-align: center; 
									vertical-align: middle; 
									width: 91px; height: 96px; 
									background-image: url("/public/img/profile/charactersheetbackgroundcircle.png");
									background-repeat: no-repeat; '> 
							<b>{{overallstats.stats.other.total}}</b>
						</td>
						<td style="width:3px"></td>
						<td> <span><b>{{overallstats.stats.other.title}}</b></span> </td>
						

					</tr>
					</table>
				</div>
			</div>
        </md-content>
      </md-tab>
	  
	  
	  
	  
	  
	  
    </md-tabs>
	





<script>

app.controller('GridTest', ['$scope', function($scope) {


}]);







app.controller( 'OverAllStatsCtrl' , ['$scope', function( $scope ) {
	$scope.eventsinfo = {
		'total': eventsList.length,
		'title': "EVENTS",
	};
	$scope.gamesinfo = {
		'total': gamesList.length,
		'title': "GAMES",
	};
	$scope.playersinfo = {
		'total': 666,
		'title': "PLAYERS",
	};
	
	
	$scope.stats = {
		won: {
			'total': 0,
			'title': "WON or DEMOLISH",
			'DEMOLISH': 0,
			'WON': 0,
		},
		lost: {
			'total': 0,
			'title': "LOST or SKUNK",
			'LOST': 0,
			'SKUNK': 0,
		},
		other: {
			'total': 0,
			'title': "TIE or DROP or QUIT",
			'TIE': 0,
			'DROP': 0,
			'QUIT': 0,
			'RAGEQUIT': 0,
		}
		
	};
	
	for (var i = 0; i < playedinsList.length; i++) {
		switch(playedinsList[i].Result) {
			case "DEMOLISH":
				$scope.stats.won.total++;
				$scope.stats.won.DEMOLISH.total++;
				break;
			case "WON":
				$scope.stats.won.total++;
				$scope.stats.won.WON.total++;
				break;
			case "TIE":
				$scope.stats.other.total++;
				$scope.stats.other.TIE.total++;
				break;
			case "LOST":
				$scope.stats.lost.total++;
				$scope.stats.lost.LOST.total++;
				break;
			case "SKUNK":
				$scope.stats.lost.total++;
				$scope.stats.lost.SKUNK.total++;
				break;
			case "DROP":
				$scope.stats.other.total++;
				$scope.stats.other.DROP.total++;
				break;
			case "QUIT":
				$scope.stats.other.total++;
				$scope.stats.other.QUIT.total++;
				break;
			case "RAGE QUIT":
				$scope.stats.other.total++;
				$scope.stats.other.RAGEQUIT.total++;
				break;
				
		}
	}
	
	
	$scope.overallstats = {
		eventsinfo: $scope.eventsinfo,
		gamesinfo: $scope.gamesinfo,
		playersinfo: $scope.playersinfo,
		stats: $scope.stats,
	
	};
	
	
	
	


}]);

app.controller('EventsProfileCtrl', ['$scope', 'myHttpFactory', function($scope, myHttpFactory) {



}]);

app.controller('ProfileCtrl', ['$scope', 'myHttpFactory', function($scope, myHttpFactory) {

	if (typeof(playerinfo.UUID) == 'undefined') {
		alert("plaerUUID is undefined");
		return;
	} ;
	
	

	
	$scope.alignments = [
		"Lawful Good",	
		"Neutral Good",
		"Chaotic Good",
		"Lawful Neutral",	
		"(True) Neutral",
		"Chaotic Neutral",
		"Lawful Evil",	
		"Neutral Evil",	
		"Chaotic Evil"
	
	];
	

	$scope.project = {
		nickname: playerinfo.Nickname,
		birthdate: parseInt(playerinfo.Birthdate),
		alignment: playerinfo.Alignment
	};
	
	$scope.update = function( playerinfodelta ) { 
		var playercargo = playerinfo;
		
				console.log("playerinfodelta", playerinfodelta);
		
		playercargo.Alignment = playerinfodelta.alignment.$viewValue;
		playercargo.Birthdate = playerinfodelta.birthdate.$viewValue;
		playercargo.Nickname = playerinfodelta.nickname.$viewValue;
		
		console.log("Playercargo", playercargo);
		
		myHttpFactory.updatePlayer(playercargo).then(function(results) {
					console.log("data:"  +JSON.stringify(results));

		});
	
		
 	};
   $scope.somethingchanged = function(projectForm) {
   
	   if (permission.readonly == "true") {
			return 0;
	   }
   
		var retval = 0;
		//console.log("alignment", projectForm.alignment);
		//|| projectForm.alignment.$viewValue != playerinfo.Alignment
		if (projectForm.birthdate.$viewValue != playerinfo.Birthdate || 
			projectForm.nickname.$viewValue != playerinfo.Nickname || 
			((typeof(projectForm.alignment) != 'undefined') && projectForm.alignment.$viewValue != playerinfo.Alignment) ) {
	
			retval = 1;
		}
         return retval;   
    };  

}]);
</script>

[[template "footer.html" .]]